.page-topic, p, a {
    color: #4C4E4D;
}

.page-topic {
    font-family: 'Oswald', sans-serif;
}

.page-topic h1 {
    font-size: 40px;
    line-height: 1.2;
}

p {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    
}

a {
    text-decoration: none;
    color: #4F7177;
    transition: color 0.3s ease;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
}

a:hover {
    color: black;
}

.article-info p {
    margin: 0;
    font-size: 14px;
    color: #4C4E4D;
    
}

.info{
    padding: 10px 0;
    
}

.info p{
    
    font-size: 16px;
    
    font-family: 'EB Garamond', serif;
}

.info hr{
    width: 100%;
    opacity: 40%;
}

.centerpage{
    
    margin-left: 30%;
    margin-right: 30%;
}

.centerpage p{
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    
}


/* Add your existing styles below this line */
@media screen and (max-width: 600px) {
    .article-info p {
        font-size: 11px;
    }

    .centerpage{
    
        margin-left: 5%;
        margin-right: 5%;
    }

}