
/* all link style like underlines */
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent (black in this case) */
}



body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f3f3f3;
  
}



/* footer */
footer{
  background-color: #f3f3f3;
  padding: 10px 60px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Work Sans', sans-serif;
  
  
}

.copyright {
  font-size: 12px;
}

/* all link style like underlines */

header {
  background-color: #f3f3f3;
  color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Work Sans', sans-serif; /* Specify the font family */
}

header h2 {
  font-size: 26px; /* Set the font size for the header text */
  font-weight: 600; /* Set the font weight to semi-bold */
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.logo {
  text-align: center; /* Center the image horizontally */
  margin-top: 10px; /* Add some top margin for spacing */
}

.logo-image {
  width: 110px; /* Set the width of the image */
  height: auto; /* Maintain aspect ratio */
 
  transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

/* Add hover effect on the logo image */
.logo-image:hover {
  transform: scale(1.1); /* Increase the size on hover */
}

nav {
  margin-left: auto;
  font-size: 14px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 15px;
}

nav a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s ease;
}

/* Change the color on hover */
nav ul li a:hover {
  color: #80d8da; /* Set the desired text color on hover */
}




/* inside main */

main{
  background-color: #f3f3f3;
  border-bottom: 0.5px solid lightgrey; /* Set the color you want for the "margin" */
  min-height: 100vh; /* Set a minimum height to cover the viewport height */
}

.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: #f3f3f3; 
}

.profile-picture img {
  border-radius: 60%;
  width: 300px;
  height: 300px;
}

.profile-text-container {
  margin-left: 20px; /* Adjust the margin as needed */
  max-width: 400px; /* Add a max-width to prevent the text from stretching too wide */
}

/* portfolio */

.filter-container {
  text-align: center;
  margin-bottom: 20px;
  padding: 2px;
  background-color: #f3f3f3;
}

.filter-btn {
  width: 60px; /* Set the width and height to the same value for a perfect circle */
  height: 60px;
  margin: 0 5px;
  cursor: pointer;
  display: inline-block;
  border-radius: 50%;  
  border-style: solid;
  border-width: 1px;  
  background-color: #c7c7c7;
  transition: 0.3s;
  font-family: 'Work Sans', sans-serif;
}

.filter-btn:nth-child(1) {
  background-color: #bada55; /* Tomato */
}

.filter-btn:nth-child(2) {
  background-color: #eea302; /* SlateBlue */
}

.filter-btn:nth-child(3) {
  background-color: #80d8da; /* LightSeaGreen */
}

.filter-btn:nth-child(4) {
  background-color: #c7c7c7; /* Orange */
}

.filter-btn:hover {
  opacity: 1;
  background-color: white;
}

.portfolio-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f3f3f3;
  
  padding: 3px;
  margin: 0;
}

.portfolio-item {
  
  margin: 30px;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;
  background-color: black;
  cursor: pointer;
  width: 300px; /* Set a fixed width */
  height: 300px; /* Set a fixed height for a squared shape */
  position: relative;
  overflow: hidden;
  
  
}

.portfolio-item img {
  width: 100%;
  height: 100%;
  transition: opacity 0.3s ease;
  
  
}

.portfolio-item:hover img {
  opacity: 0.2; /* Adjust the opacity as needed */
  transform: scale(1.1);
  
}

.project-details {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.portfolio-item:hover .project-details {
  opacity: 1;
}






.card-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.card {
  flex: 0 0 48%;
  padding: 20px;
 
  box-sizing: border-box;
  margin: 5px;
  background-color: #f3f3f3;
}


.main-parent {
  position: relative;

}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  
  max-width: 40%;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;

}
.image2 {

  position: relative;
  top: 126px;
  left: -56px;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;
  max-width: 40%;
}




/* outreach */


.page-topic{
  
 
  text-align: center;

}

.page-topic h1 {
  font-size: 40px; /* 54px converted to rem */
  font-style: italic;
  
}

.page-topic p {
  font-size: 1.125rem; /* 18px converted to rem */
  
}

hr {
  width: 93%;
  opacity: 0.4; /* 40% as a decimal */
}


.section-container {
  display: flex;
  justify-content: space-between;
  padding: 100px 100px;
}

.section {
  flex: 0 0 48%;
  padding: 10px;
  box-sizing: border-box;
  margin: 5px;
  background-color: #f3f3f3;
}


.main-parent {
  position: relative;

}
.image1 {
  position: relative;
  max-width: 40%;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;

}
.image2 {

  position: relative;
  top: -40px;
  left: 200px;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;
  max-width: 60%;
}

.image3 {

  position: relative;
  top: 40px;
  left: -30px;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;
  max-width: 40%;
}

.image4 {

  position: relative;
  top: 40px;
  left: -30px;
  border: 6px solid #f9f9f9;
  outline: 3px solid black;
  max-width: 40%;
}


/* projects */

.button {
  background-color: #bada55;
  border-color: black;
  color: black;
  cursor: pointer;
  display: inline-block;
  border-radius: 25px;  
  border-style: solid;
  padding: 3px 9px;
  border-width: 1px;  
  transition: 0.3s;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
}

.button:hover {
  background-color: white;  /* Hover background color */
  color: #3498db; /* Hover text color */
  border-color: black; /* Hover border color */
}

/* resume */

.resume-cont {
  display: flex;
  margin: 0;
}



.page-topic a{
  color: #2a919e;
  font-size: 19px;
}



/* Responsive Styles for Mobile */

@media only screen and (max-width: 600px) {
  body {
      font-size: 14px; /* Adjust the font size for smaller screens */
  }

  header {
      padding: 5px;
  }

  header h2 {
      font-size: 22px; /* Adjust the font size for smaller screens */
  }

  nav ul {
      flex-direction: row;
      justify-content: space-around;
  }

  nav li {
      margin: 0 5px;
  }

  .profile-container {
      flex-direction: row;
  }

  .profile-picture img {
      width: 100%; /* Make the profile picture take the full width */
      height: auto; /* Maintain aspect ratio */
  }

  .profile-text-container {
      margin: 10px 50;
  }

  .filter-container {
      margin-bottom: 20px;
  }

  .filter-btn {
      width: 60px;
      height: 60px;
      margin: 0 3px;
  }

  .portfolio-container {
      margin: 0;
  }

  .portfolio-item {
      width: 80%; /* Make portfolio items take full width on small screens */
      height: 80%;
      margin: 10px 0;
  }

  .portfolio-item img {
      opacity: 95%; /* Reset opacity on mobile */
      transform: none; /* Reset transform on mobile */
  }

  .project-details {
      opacity: 1; /* Reset opacity on mobile */
  }

  footer {
      padding: 5px;
      flex-direction: column;
      text-align: center;
  }

  .card-container {
      flex-direction: column;
  }

  .card {
      width: 100%; /* Make cards take full width on small screens */
  }

  .section-container {
      flex-direction: column;
      padding: 20px;
  }

  .section {
      width: 100%; /* Make sections take full width on small screens */
      margin: 10px 0;
  }

  .page-topic h1 {
      font-size: 24px;
  }

  .page-topic p {
      font-size: 16px;
  }

  hr {
      width: 100%;
  }

  .main-parent {
      top: 0;
      left: 0;
  }

  .image1,
  .image2,
  .image3,
  .image4 {
      position: relative;
      top: 0;
      left: 0;
      max-width: 100%;
  }

  .button {
      width: 100%; /* Make buttons take full width on small screens */
  }

  .resume-cont {
      flex-direction: column;
  }

  .page-topic a {
      font-size: 16px;
  }
}





/* Text selction*/

::selection {
  background-color: #fff200;
  color: black;
  height: 2000px;
}

::-moz-selection {
  background-color: #fff200;
  color: black;
}


/* Project page n*/
.project-topic{
  
  margin-left: 25px;

}

.project-topic h1 {
  font-size: 40px;
}

.project-topic p {
  font-size: 16px;
}


/* Filters*/


.PageFilter{
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
  
  max-width: 100px;
  background-color: #eea302;
  color: black;
  text-align: center;
  margin-right: 3px;
  transition: background-color 0.3s;
  font-size: 14px;
}


.PageFilter:nth-child(2) {
  background-color: lightgrey; /* Tomato */
}

.PageFilter:hover{
  background-color: white;
}



.page-filter:nth-child(2):hover{
  background-color: white;
}

.top{
  display: flex;
}

.technology{
  display: flex;
  font-size: 14px;
}

.technologyname {
  
  padding-left: 6px;
  padding-right: 6px;
  
  max-width: 100px;
  background-color: lightgrey;
  color: black;
  text-align: center;
  margin-right: 3px;
  transition: background-color 0.3s;
  font-size: 14px;
}
