
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Sans:wght@700&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    background-color: #d2bb98;
    background-position: 0 1000px;
    /* font-family: 'Abril Fatface', cursive; */
    font-family : 'Poppins', sans-serif;
    

}

.covid-title{
    font-family: 'Abril Fatface', cursive;
    font-size:13rem;
    line-height:13rem;
    text-align: center;
    
    
}

@media screen and (max-width: 800px) {
    .covid-title{
        font-size:6rem;
        line-height:6rem;    
    }
    
}

.covid-dek{
    font-family: 'PT Sans', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;

}

@media screen and (max-width: 800px) {
    .covid-dek{
        font-size: 1.3rem;    
    }
}

.by{
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 6rem;
}
.line-4 hr {
    height: 1px;
    border: 0;
    margin: 0 auto;
    width: 120rem;
    max-width: 100rem;
    background: black;
  }
.text-container{
    
    font-size: 2rem;
    max-width: 100rem;
    margin: 0 auto;
    margin-top:6rem;
    margin-bottom: 6rem;
}

.power-bi{
    margin-top:8rem;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 6rem;
}

#img{
    display: block;
    margin: 0 auto;
    
    
    object-fit: cover;
    border: 2px solid var(--bordercolor);
}

h2,h3{
    font-size: 2.5rem;
    max-width: 100rem;
    margin: 0 auto;
    margin-top:6rem;
    margin-bottom: 6rem;
}

