

:root{
    --maincolor:#eaeaea;
    --secondarycolor:#fff;

    --bordercolor:#c1c1c1;

    --maintext:black;
    --secondaryText:#4b5156;

    --themeDotBorder:#24292e;
  
}

/* centering the body and creating padding */

html,body{
    padding:  0;
    margin: 0;
}

h1,h2,h3,h4,h5,strong{
    color:var(--maintext);
    font-family: 'Russo One', sans-serif; /* applying font from the google */
    font-weight: 500; /* changing boldness border of the font */

}
p, li, span, label, input, textarea{
    color: var(--maintext);
    font-family: 'Roboto Mono', monospace; /* applying font from the google */
}


/* 
decorating the link so that underline doesnt come */

a{

    text-decoration: none;
    color:#17a2b8;

}

/* no bullets on list */
ul{
    list-style: none;
        font-family: 'Roboto Mono', monospace; /* applying font from the google */

}

/* font sizes of headings */
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

/* stylng the class */

.s1{
    background-color: var(--maincolor);
    border-bottom: 1px solid var(--bordercolor);
}

.s2{
    background-color: var(--secondarycolor);
    border-bottom: 1px solid var(--bordercolor);
    
}

/* adjusting the width of container */
.main-container{
    width: 1200px;
    margin: 0 auto;
}

/* creating the width of container */
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    /* border: 2px dashed lightcoral; */
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--secondarycolor);
    border:1px solid var(--bordercolor);
    border-radius: 5px 5px 0 0; /* creating the apple round corners */

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
/*     grid-template-rows: 3em 30em;
 */    grid-template-areas: 
    'nav-wrapper nav-wrapper'
    'left-column right-column'
    
    
    ;

}

.nav-wrapper{
    grid-area:nav-wrapper;
    border-radius: 5px 5px 0 0;
    /* border: 1px dashed lightcoral */ /* commented out the dash outlines */
    border-bottom: 1px solid var(--bordercolor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--maincolor);
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.dots-wrapper{
    display: flex;
    padding: 10px;

}


#dot-1{
	background-color:  #FC6058;
}

#dot-2{
	background-color:  #FEC02F;
}

#dot-3{
	background-color:  #2ACA3E;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
    /* border: 1px dashed lightcoral */
}

#profile_pic{
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--bordercolor);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;

}

.theme-dot{
	height: 30px;
	width: 30px;
	background-color: black;
	border-radius: 50%;

	margin: 5px;
	border:2px solid var(--themeDotBorder);

	-webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
	box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

	cursor: pointer;
}


.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color: #192734;
}

#green-mode{
    background-color: #78866b;
}

#purple-mode{
    background-color: #7E4C74;
}

#setting-note{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.right-column{
    grid-area:right-column;
    /* border: 1px dashed lightcoral */
}


/* responsivenes dynamic movement on the browser and device sizes */
@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
    
}