

:root{
    --maincolor:rgb(232, 231, 255);
    --secondarycolor:rgb(184, 184, 184);

    --bordercolor:#000000;

    --maintext:black;
    --secondaryText:#058eff;
}

/* centering the body and creating padding */

html,body{
    padding:  0;
    margin: 0;
}

h1,h2,h3,h4,h5,strong{
    color:var(--maintext);
    font-family: 'Russo One', sans-serif; /* applying font from the google */
    font-weight: 500; /* changing boldness border of the font */

}
p, li, span, label, input, textarea{
    color: var(--maintext);
    font-family: 'Roboto Mono', monospace; /* applying font from the google */
}


/* 
decorating the link so that underline doesnt come */

a{

    text-decoration: none;
    color:#17a2b8;

}

/* no bullets on list */
ul{
    list-style: none;
        font-family: 'Roboto Mono', monospace; /* applying font from the google */

}

/* font sizes of headings */
h1{font-size: 56px;}
h2{font-size: 36px;}
h3{font-size: 28px;}
h4{font-size: 24px;}
h5{font-size: 20px;}
h6{font-size: 16px;}

/* stylng the class */

.s1{
    background-color: var(--maincolor);
    border-bottom: 1px solid var(--bordercolor);
}

.s2{
    background-color: var(--secondarycolor);
    border-bottom: 1px solid var(--bordercolor);
    
}

/* adjusting the width of container */
.main-container{
    width: 1200px;
    margin: 0 auto;
}

/* creating the width of container */
.greeting-wrapper{
    display: grid;
    text-align: center;
    align-content: center;
    border: 2px dashed lightcoral;
    min-height: 10em;
}

/* responsivenes dynamic movement on the browser and device sizes */
@media screen and (max-width: 1200px) {
    .main-container{
        width: 95%;
    }
    
}