:root{
    --maincolor:#606B56;
    --secondarycolor:#515a48;

    --bordercolor:#161914;

    --maintext:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#FFF;

    --previewBg:rgb(81, 90, 72, 0.8);
    --previewShadow:#2a2f25;

    --buttonColor:#669966;

  
}

.s1{
    background-image: url('assets/images/green.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.intro-wrapper{
    background-color: var(--previewBg);
    
}

.nav-wrapper{
    background-color: var(--previewBg);
    
}

.s2{
    background-color: var(--previewBg);
}

.post-preview{
	background-color: #121212; 
	    
}

.post-title{
	color:rgb(255, 255, 255);
    
}

.post-intro{
	color:#b1b1b1;
}