:root{
    --maincolor:#15202B;
    --secondarycolor:#192734;

    --bordercolor:#164D56;

    --maintext:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#FFF;

    --previewBg:rgb(25, 39, 52, 0.8);
    --previewShadow:#111921;

    --buttonColor:#17a2b8;

  
}

.s1{
    background-image: url('../../assets/images/blue.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
}

.intro-wrapper{
    background-color: var(--previewBg);
    
}

.nav-wrapper{
    background-color: var(--previewBg);
    
}

.s2{
    background-color: var(--previewBg);
}

.post-preview{
	background-color: #121212; 
	    
}

.post-title{
	color:rgb(255, 255, 255);
    
}

.post-intro{
	color:#b1b1b1;
}