:root{
    --maincolor:#15202B;
    --secondarycolor:#192734;

    --bordercolor:#164D56;

    --maintext:#fff;
    --secondaryText:#eeeeee;

    --themeDotBorder:#FFF;

    --previewBg:rgb(25, 39, 52, 0.8);
    --previewShadow:#111921;

    --buttonColor:#17a2b8;

  
}