.filter-container {
    text-align: center;
    margin-top:80px;
    
    padding: 2px;
    background-color: #f3f3f3;
  }

  .filter-btn {
    width: 60px; /* Set the width and height to the same value for a perfect circle */
    height: 60px;
    margin: 0 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;  
    border-style: solid;
    border-width: 1px;  
    background-color: #c7c7c7;
    transition: 0.3s;
    font-family: 'Oswald', sans-serif;
  }

  .filter-btn:nth-child(1) {
    background-color: #bada55; /* Tomato */
  }
  
  .filter-btn:nth-child(2) {
    background-color: #eea302; /* SlateBlue */
  }
  
  .filter-btn:nth-child(3) {
    background-color: #80d8da; /* LightSeaGreen */
  }
  
  .filter-btn:nth-child(4) {
    background-color: #c7c7c7; /* Orange */
  }
  
  .filter-btn:hover {
    opacity: 1;
    background-color: white;
  }

  .portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #f3f3f3;
  }

  .portfolio-item {  
    margin: 30px;
    border: 6px solid #f9f9f9;
    outline: 3px solid black;
    background-color: black;
    cursor: pointer;
    width: 300px; /* Set a fixed width */
    height: 200px; /* Set a fixed height for a squared shape */
    position: relative;
    overflow: hidden;
    
    
  }
  
  .portfolio-item img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    
    
  }
  
  .portfolio-item:hover img {
    opacity: 0.2; /* Adjust the opacity as needed */
    transform: scale(1.1);
    
  }

  .portfolio-item:hover .project-details {
    opacity: 1;
  }

  .portfolio-item img {
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    
    
  }

  .portfolio-item:hover img {
    opacity: 0.2; /* Adjust the opacity as needed */
    transform: scale(1.1);
    
  }

  .project-details {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff; /* Text color */
    opacity: 1;
    transition: opacity 0.3s ease;
  }

  .portfolio-item:hover .project-details {
    opacity: 1;
  }
  
  






  @media only screen and (max-width: 600px) {


    .filter-container {
        margin-bottom: 5px;

    }

    .filter-btn {
        width: 45px;
        height: 45px;
        margin: 0 3px;
        font-size: 11px;
    }

    .profile-container {
        flex-direction: row;
        
    
    }

    .portfolio-container{
        padding-top: 20px;
    }

    .portfolio-item {
       margin: 5px;
       margin-bottom: 10px;
    }

    .portfolio-item img {
        opacity: 95%; /* Reset opacity on mobile */
        transform: none; /* Reset transform on mobile */
    }

    .project-details {
        opacity: 1; /* Reset opacity on mobile */
    }
       

    

  

    
  }