body{
    font-family: 'Montserrat', sans-serif;
}


  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    padding-top: 10px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  
  .timespan,
  .ico,
  .desc {
    vertical-align: top;
    
}
  
  .timespan {
    grid-column: span 1;
    font-size: 14px;
    text-align: right;
    padding-right: 5px;
    color: #bbb;
    margin-left: auto;
    margin-right: auto;
  }
  
  .ico {
    grid-column: span 1;
    border-left: 2px solid #cfcfcf;
    position: relative;
    
  }
  
  .entry-dot {
    position: absolute;
    top: 0px;
    left: -8px;
    width: 10px;
    height: 10px;
    border-radius: 7px;
    background-color: #cfcfcf;
    border: 2px solid white;
  }

  
  


  .ico img {
    border-radius: 7px;
    width: 100%;
    max-width: 80px;
    margin-left: 10px;
    box-shadow: 1px 1px 10px #888888;

  }
  
  .desc {
    grid-column: span 10;
    font-size: 17px;
    padding-left: 40px;
    padding-bottom: 100px;
  }
  
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  